html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 15px;
}

#leftcol { /* Левая колонка */
  float: left; /* Обтекание справа */
  width: 200px; /* Ширина колонки */
}
#rightcol { /* Правая колонка */
  margin-left: 225px; /* Отступ слева */
}

#main {
    height: 100%;
}

#center {
    text-align: center;
}

tr{
    margin-bottom: 10px;
    margin-top: 10px;
}

.cell {
    /*background: url("/images/box.png") no-repeat right bottom;*/
    width: 30px;
    height: 30px;
}

