{% load staticfiles %}



<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'balda_game/indextitle.css' %}" />
    <title>Balda site</title>
</head>
<body>

    <div id="goto_main">
        <a href="/">Main page</a>
    </div>
    {% load url from future %}
    <div id="login">
        {% if  user.is_authenticated %}
            Hello, {{ user.username }}
            <p><a href="{% url 'logout_view' %}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'login_view' %}">Login</a></p>
            <p><a href="{% url 'register' %}"> Register </a></p>
        {% endif %}
    </div>
    <div id="main">
        {% block main %}{% endblock %}
    </div>


</body>

<footer>
        See project on <a href="https://github.com/akhtyamovpavel/Balda">GitHub</a>
</footer>
</html>