{% extends "rating_page.html" %}
{% load staticfiles %}

{% block main %}

    <div class="row">
        <div class="col col-lg-12 col-md-12">
            <h1>Профиль</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="user_name">
                        Ваш логин: {{ user_profile.user.username }}
                    </div>
                    <div class="user_wins">
                        Победы: {{ user_profile.wins }}
                    </div>
                    <div class="user_draws">
                        Ничьи: {{ user_profile.draws }}
                    </div>
                    <div class="user_loses">
                        Поражения: {{ user_profile.loses }}
                    </div>
                    <div class="rating">
                        Рейтинг: {{ user_profile.rating }}
                    </div>

                    <div class="online">
                        В последний раз был в сети {% if user_profile.last_seen %} {{ user_profile.last_seen|timesince }} {% else %} давно
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        


{% endblock %}