{% extends "base.html" %}

{% load staticfiles %}
{% block js_rating_files %}

    <script src="{% static 'balda_game/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'balda_game/jquery.cookie.js' %}"></script>
    <script src="{% static 'balda_game/services_update.js' %}"></script>
{% endblock %}


{% block ratingblock %}

    <div id="rating_table">
        <div class="rating_name">
            Rating
        </div>
        <table class="rating_field">
            <thead class="rating_head">
                <tr>
                    <td class="rating_place">Place </td>
                    <td class="rating_user">User </td>
                    <td class="rating_quantity">Rating </td>
                </tr>
            </thead>

            <tbody class="rating_table_body">
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>9999</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}