{% extends "base.html" %}

{% load staticfiles %}
{% block js_rating_files %}

    <script src="{% static 'balda_game/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'balda_game/jquery.cookie.js' %}"></script>
    <script src="{% static 'balda_game/services_update.js' %}"></script>
{% endblock %}


{% block ratingblock %}
<div >
    <div id="rating_table">
        <div class="panel" style="background-color: #f0ad4e">
            <div class="panel-heading">
                <h2 class="panel-title">Rating</h2>
            </div>
            <table class="table table-striped table-bordered rating_field">
                <thead class="rating_head">
                    <tr style="background-color: #f0ad4e; border-radius: 5px" >
                        <td class="rating_place">Place </td>
                        <td class="rating_user">User </td>
                        <td class="rating_quantity">Rating </td>
                    </tr>
                </thead>

                <tbody class="rating_table_body">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}